<div class="card">
    <img src="https://salt.tikicdn.com/cache/280x280/ts/product/69/50/dc/0e5fb8e2bcc8f74fa8534258dd4f2afc.jpg"
        class="card-img-top" alt="Product Thumbnail">
    <div class="card-body">
        <h5 class="card-title">Khó Dỗ Dành 1</h5>
        <p class="card-text">Price: 147,000 VND</p>
        <p class="card-text">Discount: 58,000 VND (28% off)</p>
        <p class="card-text">Rating: 4.8 out of 5 (based on 91 reviews)</p>
        <p class="card-text">Quantity Sold: 452</p>
        <p class="card-text">Delivery Information: Giao siêu tốc 2h</p>
    </div>
    <div class="card-footer">
        <a href="https://tiki.vn/kho-do-danh-1-p253099216.html" class="btn btn-primary">View Product</a>
    </div>
</div>