beautifulsoup4
click
Flask
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn
html5lib
Jinja2
lxml
Mako
MarkupSafe
python-dateutil
python-dotenv
python-editor
requests
six
soupsieve
SQLAlchemy
WTForms
flask-login
email-validator
python-dotenv
flask_cors
numpy
pillow
Flask-Markdown
psycopg2-binary
pandas
surprise
git+https://github.com/maxcountryman/flask-login.git
celery[redis]
eventlet