<div class="author-item card">           
    
    <div class="card-body text-center">
        <span class="avatar avatar-xl mb-3 avatar-rounded" style="background-image: url({{author.img}})"></span>
        <a href="/author/{{ author.name}}"><h3 class="card-title">{{ author.name}}</h3>
        </a>
        <div class="author-infor">
            <p>Số tác phẩm: {{ author.fiction | count}}</p>
            <p>Năm sinh: {{ author.birth_year}}</p>
        </div>
        {% set value = "follow" %}
        {% set buttonContent = "Theo dõi 💎💎💎" %}
        {% set idset =  author.follower | map(attribute='user_id') | list %}
        {% if current_user.id in idset %}
            {% set value= "followed" %}
            {% set buttonContent= "Đã theo dõi 💁‍♂️" %}
        {% endif %}
        <div id="follower-count" class="follower badge bg-blue" style="padding: 5px;"><strong>{{author.follower | count }} follower 🧑</strong></div>
        <button href="#" type="button" class="btn button-follower" onclick="changeState(this)" value={{value}} name="{{author.id}}">{{buttonContent}}</button>
    </div>
</div>