<div class="card" style="margin:5px">
  <div class="crop" type="button" onclick="location.href='/fiction/{{fiction.id}}'">
    <img
      src="{% if fiction.cover %}{{fiction.cover}}{% else %} https://firebasestorage.googleapis.com/v0/b/ngot-technology.appspot.com/o/book-cover%2Fsample.jpg?alt=media&token=4c780b66-0c22-41eb-9fde-51973b421815{% endif %}"
      alt="{{fiction.name}}" style="width:100%; height:auto">
    <div class="blend-over">
      <h2><a href="/fiction/{{fiction.id}}">{{fiction.name}}</a></h2>
      <p>{{fiction.author.name}}</p>
    </div>

  </div>

  <label class="form-selectgroup-item">
    <input type="checkbox" name="heart" value="{{fiction.id}}" class="form-selectgroup-input" {% for like in
      fiction.like %} {{"checked" if current_user.id==like.user_id else "" }} {% endfor %} onchange="
    
      console.log(this.checked);
      let data={type:this.name, value:this.checked};
      axios.post('/user/fiction/{{fiction.id}}/', data).then((res)=>{
        console.log(res.data)
        this.parentNode.nextElementSibling.textContent= res.data
      }).catch((err)=>{
        // this.nextElementSibling.textContent = err.message
        console.log(err.message)
      })
      if (this.checked==true){
        this.nextElementSibling.textContent = '❤'
      }
      else {
        this.nextElementSibling.textContent = '❤'
      }
    ">
    <span class="form-selectgroup-label" id="{{fiction.id}}_update_icon">
      ❤
    </span>
  </label>
  <span class="badge bg-green" style="position: absolute; top:10px; right:10px">
    has {{ fiction.like | count }} ❤
  </span>
</div>