<div class="col-12">
    <div class="card card-sm">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-auto">
                <span class="avatar avatar-md mb-3 avatar-rounded" style="background-image: url('{{author.img}}');">

                </span>

                </div>
                <div class="col">
                <div class="font-weight-medium">
                    {{author.name}}
                </div>
                {% set value = "follow" %}
                {% set buttonContent = "Theo dõi 💎💎💎" %}
                {% set idset =  author.follower | map(attribute='user_id') | list %}
                {% if current_user.id in idset %}
                    {% set value= "followed" %}
                    {% set buttonContent= "Đã theo dõi 💁‍♂️" %}
                {% endif %}
                <div id="follower-count" class="follower badge bg-blue" style="padding: 5px;"><strong>{{author.follower | count }} follower 🧑</strong></div>
                <button href="#" type="button" class="btn button-follower" onclick="changeState(this)" value={{value}} name="{{author.id}}">{{buttonContent}}</button>
                <div class="text-muted">
                    <p>
                    Số tác phẩm: {{author.fiction | count}}
                    <br>
                    Ngữ cảnh đề xuất
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>