<div class="col-12">
    <div class="card card-sm">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-auto">
                <span class="bg-white text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                    <img src="{{avatar}}" alt="">
                </span>
                </div>
                <div class="col">
                <div class="font-weight-medium">
                    {{name}}
                </div>
                <div class="text-muted">
                    Số tác phẩm: {{count}}
                </div>
                </div>
            </div>
        </div>
    </div>
</div>