<div class="card" style="overflow: visible; margin:1em; width: 100%">
<div class="row" type="button" style="margin:5px" onclick="location.href='/fiction/{{fiction.id}}'">
    <div class="col-auto">
      <span class="avatar">
        {% if fiction.cover %}
        <img style="padding-top: 30px;" src="{{url_for('img_proxy', link=fiction.cover)}}" alt="{{fiction.name}} cover">
        {% else %}
        {% endif %}
      </span>
    </div>
    <div class="col">
      <div class="text-truncate">
        <strong>
          <a href="/fiction/{{fiction.id}}">{{fiction.name}}</a>
        </strong>
        <span class="badge bg-green">
          has {{ fiction.like | count }} ❤
        </span>
      </div>
      <div class="text-muted">
        <p>
          {{ fiction.author.name }}
          

          <br> 
          {{ fiction.short_desc }}
          <br>
          Thể loại: {{fiction.tag}} 
        </p>
      </div>
    </div>
    <div class="col-auto col-md-2 col-12 align-self-center">
      <div class="badge bg-red">{{ range(100) | random }} người đang đọc</div>
    </div>
  </div>
</div>