{% extends "base.html" %}
{% block title %}{{ author.name}}: All fictions{% endblock %}
{% block style %} 
{{super()}}
<style>
    .fiction-zone{
        padding-left: 20px;
    }
</style>
{% endblock %}
{% block content%}

<div class="row justify-content-start">
    <div class="col-md-4">
        
        <div style="display:flex">
            <a type="button" class="btn dropdown" data-bs-toggle="dropdown" >
                ⚙ Tùy chọn
            </a>
            <div class="dropdown-menu dropdown-menu-demo dropdown-menu-arrow bg-dark text-white">
                <a href="{{url_for('edit_author', author_id=author.id)}}" class="dropdown-item">Chỉnh sửa tác giả 🔥</a> 
                <a href="#" class="dropdown-item">
                    Xác nhận sở hữu ✔
                </a>
            </div>
        </div>
        <div class="card" style="margin:5px">
            
            <div class="card-img-top">
                <img src="{% if author.img %}{{ author.img}}{% else %} http://localhost/upload/sample.jpg{% endif %}" alt="{{author.name}}">

            </div>
            <div class="card-body">
                <a href="/author/{{ author.name}}"><h3 class="card-title">{{ author.name}}</h3>
                </a>
                <p>Số tác phẩm được cập nhật: {{ author.fiction_count}}</p>
                <p>Năm sinh: {{ author.birth_year}}</p>
                <a href={{ author.author_page}}> Author website</a>
            </div>
            <div>
                {% set value = "follow" %}
                {% set buttonContent = "Theo dõi 💎💎💎" %}
                {% set idset =  author.follower | map(attribute='user_id') | list %}
                {% if current_user.id in idset %}
                {% set value= "followed" %}
                {% set buttonContent= "Đã theo dõi 💁‍♂️" %}
                {% endif %}
                <span id="follower-count" class="badge bg-red" style="margin: 10px;"><strong>{{author.follower | count }} follower 🧑</strong></span>
                <button href="#" type="button" class="btn" onclick="changeState(this)" value={{value}} name="{{author.id}}">{{buttonContent}}</button>
                <a href="#" type="button" class="card-btn">✉ nhắn tin </a>
            </div>
            <script>
                function changeState(context) {  
                    if (context.value=="follow") {
                        context.value="followed"
                        context.textContent = "Đã theo dõi 💁‍♂️"
                        uploadData(context)
                    }
                    else {
                        context.value="follow"
                        context.textContent = "Theo dõi 💎💎💎"
                        uploadData(context)
                    }
                }
                function uploadData(context) {
                    let data = {type:"author-follow", value:context.value, author:context.name}
                    console.log(data)
                    axios.post('/api/following/author/', {data:data}).then((res)=>{
                        console.log(res)
                        context.previousSibling.previousSibling.innerHTML = res.data
                    }).catch((err)=>{
                        context.textContent = "Đã có lỗi xảy ra"
                        context.disabled = true
                    })
                            
                }
            </script>
        </div>
        
        
    </div>
    
    <div class="col-md-8">

        <div class="card">
            <div class="card-header">Tác giả: {{author.name}}</div>
            <div class="card-body" id="authorInformation" onload="loadAbout(this)">
                <div class="main-content">
                    📄 Tiểu sử tác giả: 
                    {% set elements = author.cutText() %}
                        {% include "_content.html" %}

                </div>
            </div>

            <hr>
            <div class="fiction-zone">
                
                <h2 style="align-items: center;">
                    Tác phẩm theo thời gian
                </h2>
                {% for fiction in fictions %}
            
                <h3>Năm xuất bản: {{fiction.publish_year}}</h3>
                <div class="row">
                    <div class="col-xl-4 col-sm-4">
                        <img src={{url_for("img_proxy", link=fiction.cover )}} alt={{fiction.name}}>
                    </div>
                    
                    <div class="col-xl-8 col-sm-8">
                        
                        <h3 class="card-title"><a href="/fiction/{{fiction.id}}">{{fiction.name}}</a></h3>
                        {% for chapter in fiction.chapter %}
                            {% include "_chapter_list.html" %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>





{% endblock %}
