{% extends "layout.html" %}
{% block title %} Dashboard {% endblock %}
{% block layoutleft %}

<div  style="margin:5px">
    <div class="bg-dark text-white">
        <button class="dropdown-item" onclick="showMedia(this)" value='your-fiction'>Quản lý tác phẩm</button>
        <button class="dropdown-item" onclick="showMedia(this)" value='author-manage'>Quản lý tác giả</button>
        <button class="dropdown-item" onclick="showMedia(this)" value='user-activity'>Lịch sử hoạt động</button>
        <button class="dropdown-item" onclick="showMedia(this)" value="user-media">Quản lý media</button>
        <button class="dropdown-item" onclick="showMedia(this)" value='general-configuration'>Cài đặt chung</button>
    </div>
</div>
{% endblock %}

{% block layoutcenter %}

<div class="card">
    <div class="card-body">
        <div class="tab-content" id="tab-content">
            <div class="tab-pane" id="user-activity">
                {% include "_recent.html"%}
            </div>
            
            <div class="tab-pane" id="user-media">
                <div>
                    {% for media in user.media %}
                    {% if media.media_type == "youtube" %}
                    Video Extention
                    <div class="card-text">
                        <h5>{{media.title}}</h5>
                        {% with %}
                        {% set url = media.content %}
                        {% include '_youtubeplayer.html'%}
                        {% endwith %}
            
                    </div>
            
                    <hr>
                    {% elif media.media_type == "quote" %}
                    {{media.content}}
                    <hr>
                    {% elif media.media_type == "download_link" %}
                    Link tải sách:
                    <a href="{{media.content}}">{{media.title}}</a>
                    <hr>
                    {% else %}
                    Type Unknown
                    <hr>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane show active" id="your-fiction">
                <a href="{{url_for('new_fiction')}}" type="button" class="btn">Tạo tác phẩm mới</a>
                <h2> Click vào link để edit tác phẩm </h2>
                {% for fiction in all_fictions %}
                    <a href="{{url_for('edit_specific_post', fiction_id=fiction.id)}}" class="nav-link">{{fiction.name}}</a>
                {% endfor %}
                
            </div>
            <div class="tab-pane" id="general-configuration">
                <h1>Hello</h1>
            </div>
            <div class="tab-pane" id="author-manage">
                <a href="{{url_for('new_author')}}" type="button" class="btn">Tạo tác giả mới</a>
                <hr>
                {% for author in all_authors %}
                    <a href="{{url_for('edit_author', author_id=author.id)}}" class="nav-link">{{author.name}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById(location.hash.replace('#','')).className='tab-pane active show'
    removeActiveState()
    document.getElementById(location.hash.replace('#','')).className+=" active show"
    location.hash=location.hash.replace('#','')
</script>
{% endblock %}

{% block layoutright %}
<div class="card">
    <div class="card-body p-4 text-center bg-dark text-white">
        <span class="avatar avatar-xl mb-3 avatar-rounded" id="avatar">
            <img src="#" alt="" style="width:100%;height:auto" class="avatar avatar-xl mb-3 avatar-rounded" >
        </span>
        <h3 class="m-0 mb-1" style="height: 30; color:white;"><a
                {{user.name}}</h3>
        <div class="text-muted" style="height: 30; color:white;">Lần online gần nhất: {{user.last_seen}}</div>
        <a href="/u/{{user.id}}/following">Tác giả đang theo dõi</a>
        <a href="/u/{{user.id}}/liked">Tác phẩm đã yêu thích</a>
        <script>
            function statusChangeCallback(response) {
              console.log(response);
              if (response.status === 'connected') {   // Logged into your webpage and Facebook.
                userid = response.authResponse.userID
                FB.api(
                    '/'+ userid +'/picture',
                    'GET',
                    {"redirect":"false"},
                    function(response) {
                        console.log(response)
                        document.getElementById('avatar').src=response.data.url
                    }
                    ); 
              } else {                                 // Not logged into your webpage or we are unable to tell.
                document.getElementById('status').innerHTML = 'Please log ' +
                  'into this webpage.';
              }
            }
            window.fbAsyncInit = function() {
              FB.init({
                appId      : '2918322345050469',
                cookie     : true,
                xfbml      : true,
                version    : 'v10.0'
              });
         
              FB.AppEvents.logPageView();   
              FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
            };
          
            (function(d, s, id){
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) {return;}
               js = d.createElement(s); js.id = id;
               js.src = "https://connect.facebook.net/en_US/sdk.js";
               fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));
            
        
             
          </script>
        <div id="fb-root"></div>
        <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="false"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0" nonce="6G9uuJ2a"></script>
        
        <div class="mt-3">
            
            <span class="badge bg-purple">
                Đang theo dõi: {{user.following | count}} 
            </span>
            <span class="badge bg-cyan">
                Được theo dõi: {{user.follower | count}} 
            </span>

        </div>
    </div>
</div>
{% endblock %}