{% extends "layout.html" %}
{% block title %}{{ fiction.name }} by {{ author.name }}{% endblock %}

{% block layoutleft %}
<div  style="margin:5px">
    <div class="bg-dark text-white">
        <a class="dropdown-item" href="/fiction/{{fiction.id}}">Xem trang tác phẩm</a>
        <button class="dropdown-item" onclick="showMedia(this)" value="edit-fiction">Chỉnh sửa thông tin</button>
        <button class="dropdown-item" onclick="showMedia(this)" value="manage-chapter">Quản lý chương</button>
        <button class="dropdown-item" onclick="showMedia(this)" value="edit-foreword">Chỉnh sửa lời tựa 📝</button>
        <button class="dropdown-item" onclick="showMedia(this)" value="">Cài đặt chung</button>
        <button class="dropdown-item" onclick="showMedia(this)" value="">Page and Media</button>
        <button class="dropdown-item" onclick="showMedia(this)" value="">Thống kê</button>
        <button class="dropdown-item" onclick="showMedia(this)" value="">Lịch sử chỉnh sửa</button>
    </div>
</div>
{% endblock %}
{% block layoutcenter %}

<div class="card"> 
    <div class="card-body">
        
        <div class="tab-content" id="tab-content">
            <div class="tab-pane" id="manage-chapter">
                <div>
                    <a  class="btn" href={{url_for('new_chapter', fiction_id=fiction.id)}}>Tạo Chương Mới</a>
                </div>
                <h2>Bấm vào link để chỉnh sửa chương</h2>
                {% for chapter in chapters %}
                <li class="dropdown-item">  
                    <a href="{{url_for('edit_chapter', chapter_id=chapter.id)}}" class="link-info large">{{chapter.name}}</a> 
                    <a href="{{url_for('delete_chapter', chapter_id=chapter.id)}}" style="position: relative; padding-left:30px ">Xóa chương này</a>
                </li>                
                {% endfor %}
            </div>
            <div class="tab-pane" id="edit-foreword">
                <div class="toast-body" id="update_message">
                    Vui lòng nhấn nút để lưu
                </div>
                <button id="saveButton" class="btn btn-success">
                    <!-- Download SVG icon from http://tabler-icons.io/i/send -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="10" y1="14" x2="21" y2="3" /><path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5" /></svg>
                    Save
                </button>
                <div id="editorjs"></div>
                {% include "_editorjs.html" %} 
            </div>
            <div class="tab-pane active show" id="edit-fiction">
                <div class="alert" role="alert" id="alert-theme">
                    <h4 class="alert-heading"  id="alert-information"> Mỗi mục đều riêng biệt. Khi chỉnh sửa xong vui lòng nhấn enter </h4>
                </div>
                <div class="form-group">
                    <label for="fiction_name">Tiêu đề tác phẩm</label>
                    <input type="text" class="form-control" name="fiction_name" id="fiction_name" value="{{fiction.name}}">
                    <label for="publist_year">Năm xuất bản</label>
                    <input type="text" class="form-control" name="publish_year" id="publish_year" value="{{fiction.publish_year}}">
                    <label for="tag-manage">Thể loại</label>
                    <input type="text" name="tag-manage" id="tag-manage" value="{{fiction.tag}}" class="form-control">
                    <label for="link-download">Link tải sách</label>
                    <input type="text" name="link-download" id="link-download" value="{{fiction.mediafire_link}}" class="form-control">
                    <label for="book-cover">Bìa sách</label>
                    <input type="text" name="book-cover" id="book-cover" value="{{fiction.cover}}" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    
    let input = document.getElementById('edit-fiction').querySelectorAll('.form-control')
    console.log(input)
    for (let i=0; i<input.length;i++) {
        console.log(input[i])
        input[i].addEventListener('change', (e)=>{
            console.log(e.target.name)
            axios.post('', {type:e.target.name, value:e.target.value})
            .then((res)=>{
                console.log(res);
                document.getElementById('alert-information').textContent='Result: ' + res.data;
                document.getElementById('alert-theme').className = 'alert alert-success';
            })
            .catch((err)=>{
                console.log(err.message);
                document.getElementById('alert-information').textContent=err.message
                document.getElementById('alert-theme').className = 'alert alert-danger'
            })
        })
    }
    function saveContent(context) {
        console.log('test')
    }
</script>
{% endblock %}
{% block layoutright %}

{% endblock %}