{% extends "layout.html" %}
{% block title %}{{ fiction.name }} by {{fiction.author.name }}{% endblock %}

{% block layoutleft %}
<div  style="margin:5px">
    <div class="bg-dark text-white">
        <a class="dropdown-item" href="/u/{{current_user.id}}#your-fiction"> 
            <!-- Download SVG icon from http://tabler-icons.io/i/arrow-back-up -->
	        <button class=btn>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 13l-4 -4l4 -4m-4 4h11a4 4 0 0 1 0 8h-1" /></svg>   
                Trang quản lý
            </button>
        </a>
        <a class="dropdown-item" href="/fiction/{{fiction.id}}">Xem trang tác phẩm</a>
        <button class="dropdown-item" onclick="showMedia(this)" value="edit-fiction">Chỉnh sửa thông tin</button>
        <button class="dropdown-item" onclick="showMedia(this)" value="manage-chapter">Quản lý chương</button>
        <button class="dropdown-item" onclick="showMedia(this)" value="edit-foreword">Chỉnh sửa lời tựa 📝</button>
        <button class="dropdown-item" onclick="showMedia(this)" value="fiction-configuration">Cài đặt chung</button>
        <button class="dropdown-item" onclick="showMedia(this)" value="fiction-media">Danh sách Media</button>
        <button class="dropdown-item" onclick="showMedia(this)" value="fiction-statistic">Thống kê</button>
        <button class="dropdown-item" onclick="showMedia(this)" value="fiction-history">Lịch sử chỉnh sửa</button>
        <!-- <a href="/fiction/{{fiction.id}}/delete" class="dropdown-item">Xóa tác phẩm này</a>  -->

    </div>
</div>
{% endblock %}
{% block layoutcenter %}

<div class="card"> 
    <div class="card-body">
        
        <div class="tab-content" id="tab-content">
            <div class="tab-pane" id="manage-chapter">
                <div>
                    <a  class="btn" href={{url_for('new_chapter', fiction_id=fiction.id)}}>Tạo Chương Mới</a>
                </div>
                <h2>Bấm vào link để chỉnh sửa chương</h2>
                {% for chapter in fiction.chapter %}
                <li class="dropdown-item">  
                    <a href="{{url_for('edit_chapter', chapter_id=chapter.id)}}" class="link-info large">{{chapter.name}}</a> 
                    <a href="{{url_for('delete_chapter', chapter_id=chapter.id)}}" style="position: relative; padding-left:30px ">Xóa chương này</a>
                </li>                
                {% endfor %}
            </div>
            <div class="tab-pane" id="edit-foreword">
                <!-- <button type="button" class="btn btn-danger" onclick="loadEditor(this)" name="init-button" value="init">Load Editor</button> -->
                {% include "_editorjs.html"%}
            </div>
            <div class="tab-pane active show" id="edit-fiction">
                <div class="alert" role="alert" id="alert-theme">
                    <h4 class="alert-heading"  id="alert-information"> Mỗi mục đều riêng biệt. Khi chỉnh sửa xong vui lòng nhấn enter </h4>
                </div>
                <div class="form-group">
                    <label for="fiction_name">Tiêu đề tác phẩm</label>
                    <input type="text" class="form-control" name="fiction_name" id="fiction_name" value="{{fiction.name}}">
                    <label for="publist_year">Năm xuất bản</label>
                    <input type="text" class="form-control" name="publish_year" id="publish_year" value="{{fiction.publish_year}}">
                    <label for="tag-manage">Thể loại</label>
                    <input type="text" name="tag-manage" id="tag-manage" value="{{fiction.tag}}" class="form-control">
                    <label for="link-download">Link tải sách</label>
                    <input type="text" name="link-download" id="link-download" value="{{fiction.mediafire_link}}" class="form-control">
                    <label for="link-tiki">Tiki Link</label>
                    <input type="text" name="link-tiki" id="link-tiki" value="{{fiction.tiki_link}}" class="form-control">
                    <label for="book-cover">Bìa sách</label>
                    <input type="text" name="book-cover" id="book-cover" value="{{fiction.cover}}" class="form-control">
                    <label for="short-desc">Mô tả ngắn</label>
                    <input type="text" name="short-desc" id="short-desc" value="{{fiction.short_desc}}" class="form-control">
                    <label for="fiction-author">Lựa chọn Tác giả</label>
                </div>
                
                <select name="fiction-author" id="fiction-author" class="form-control" aria-label="Fiction Author" >
                    {% for author in authors %}
                    {% if (author.id == fiction.author.id)%}
                        <option value="{{fiction.author.id}}" selected >{{fiction.author.name}}</option>
                        {% else %}
                        <option value="{{author.id}}">{{author.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="tab-pane" id="fiction-media">
                <h1>Danh sách media</h1>
                <ul>
                    {% for media in fiction.media %}
                    <li>
                        {{media.title}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-pane" id="fiction-configuration">
                <script>
                    function saveContent(context) {
                        console.log(context.options[context.options.selectedIndex].value)
                        axios.post('', {type:context.name, value:context.options[context.options.selectedIndex].value})
                    }
                </script>
                <h1>Cài đặt chung</h1>
                <label for="fiction-status">Trạng thái xuất bản</label>
                {% if fiction.status == "draft" %}
                <select name="fiction-status" id="fiction-status" class="form-control" aria-label="Fiction Status" onchange="saveContent(this)">
                    <option value="public">Công khai</option>
                    <option value="draft" selected>Bản nháp</option>
                </select>
                {% else %}
                <select name="fiction-status" id="fiction-status" class="form-control" aria-label="Fiction Status" onchange="saveContent(this)">
                    <option value="public" selected>Công khai</option>
                    <option value="draft">Bản nháp</option>
                </select>
                {% endif %}
                <label for="fiction-theme">Lựa chọn hiển thị</label>
                <select name="fiction-theme" id="fiction-theme" class="form-control" aria-label="Fiction Theme" onchange="saveContent(this)">
                    <option value="modern">Hiện đại</option>
                    <option value="classic" selected>Cổ điển</option>
                    <option value="creative">Phá cách</option>
                </select>
            </div>
            <div class="tab-pane" id="fiction-history">
                <h1>Lịch sử chỉnh sửa: </h1>
                <span class="badge bg-blue">có {{fiction.history | count}} lượt chỉnh sửa</span>
                {{ fiction.history | pprint }}
               
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Day</th>
                            <th scope="col">Who</th>
                            <th scope="col">Content</th>
                            <th scope="col">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for history in fiction.history %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{history.time}}</td>
                            <td>{{history.user.user_name}}</td>
                            <td>{{history.content}}</td>
                            <td>{{history.type}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
            <div class="tab-pane" id="fiction-statistic">
                <h1> Trực tiếp </h1>

                    Bookmark Rightnow: 
                    {% for chapter in fiction.chapter %}
                    <span class="badge bg-pink">
                    {{ chapter.name }} -  {{chapter.bookmark | count }} bookmark
                    </span>
                    {% endfor %}
                <hr>
                <h1> Toàn thời gian </h1>
                {{fiction.view}} lượt xem trang
                <br>
                <span class="badge bg-green">
                    has {{ fiction.like | count }} ❤ heart  
                </span>
                <span class="badge bg-red">
                    has {{ fiction.media | count }} 📷 media
                </span>
                <span class="badge bg-blue">
                    has {{ fiction.quote | count }} 📄 quotes
                </span>
                <span class="badge bg-indigo">
                    has {{ fiction.chapter | count }} 📜 chapter
                </span>

            </div>
        </div>
    </div>
</div>
<script>
    function loadEditor(context) {
        axios.post('', {type:context.value}).then((res)=>{
            let editor = res.data
            console.log(res.data)
            context.parentNode.innerHTML=editor
        })
    }
    let input = document.getElementById('edit-fiction').querySelectorAll('.form-control')
    console.log(input)
    for (let i=0; i<input.length;i++) {
        console.log(input[i])
        input[i].addEventListener('change', (e)=>{
            console.log(e.target.name)
            axios.post('', {type:e.target.name, value:e.target.value})
            .then((res)=>{
                console.log(res);
                document.getElementById('alert-information').textContent='Result: ' + res.data;
                document.getElementById('alert-theme').className = 'alert alert-success';
            })
            .catch((err)=>{
                console.log(err.message);
                document.getElementById('alert-information').textContent=err.message
                document.getElementById('alert-theme').className = 'alert alert-danger'
            })
        })
    }

</script>
{% endblock %}
{% block layoutright %}
<div class="card">
    <div class="card-body">
        
        <p>Khi chọn xuất ra tệp epub, hệ thống sẽ kiểm tra các thông tin cần thiết để việc xuất bản tệp được thành công. Nếu các thành phần không đạt, việc xuất ra tệp epub sẽ không được thực hiện.</p>
        <button type="button" class="btn" name="export-fiction" value="epub-export" onclick="exportFiction(this)">Xuất ra tệp epub</button>
        <script>
            
            function exportFiction(context){
                setTimeout(()=>sendMessage(context,"Đang kiểm tra thông tin cần thiết"),1000)
                setTimeout(()=>sendMessage(context,"Tiêu đề tác phẩm ✅"),2000)
                setTimeout(()=>sendMessage(context,"Bìa sách ✅"),3000)
                setTimeout(()=>sendMessage(context,"Tác giả ✅"),4000)
                setTimeout(()=>sendMessage(context,"Mô tả ngắn ✅"),5000)
                setTimeout(()=>sendMessage(context,"Lời tựa ✅"),6000)
                setTimeout(()=>sendMessage(context,"Đang tạo danh sách chương ✅"),7000)
                setTimeout(()=>sendMessage(context,"Đã tạo xong, tệp đã được lưu vào drive 🔥"),8000)
                setTimeout(()=>sendMessage(context,"Link sẽ có sẵn ở mục Tải tại trang tác phẩm ✅"),9000)
                setTimeout(()=>sendMessage(context,"Bạn có thể bấm nút để tải về ✅"),10000)
                setTimeout(()=>context.textContent = "🔽 Download",10000)
                
            }
            function sendMessage(context,message) {
                context.previousElementSibling.textContent = message
            }
        </script>
    </div>
    <div class="card-body">
        <label for="reminder"> Jump to session:</label>
        <select name="reminder" id="reminder">
            <option value="reminder1">Note from Lucas</option>
            <option value="reminder1">Note 2 about character</option>
            <option value="reminder1">Note 3</option>
        </select>
    </div>
</div>
{% endblock %}