{% extends "base.html" %}
{% block title %}{{post.title}}{% endblock %}
{% block content%}
<div class="card">
    <div class="card-body p-4 text-center"  style="background-image: url(https://i.pinimg.com/originals/09/24/4c/09244c7f7dd4d17b0484370f32db6641.gif);  background-position: center;">
      
      <span class="avatar avatar-xl mb-3 avatar-rounded" style="background-image: url({{ user.avatar(128) }})"></span>
      <h3 class="m-0 mb-1" style="height: 30; color:white;"><a href="{{url_for('user', username=user.user_name)}}">{{user.user_name}}</a></h3>
      
      <div class="text-muted" style="height: 30; color:white;">Năm sinh</div>
      <div class="mt-3">
        <span class="badge bg-purple">
            Coin Amount: $10 000
        </span>
        <span class="badge bg-cyan">
          Owner of Author: <a href="{{url_for('author_page', author_name=owning.name)}}">{{owning.name}}</a>
      </span>
        
      </div>
    </div>
        
  </div>
<div class="container-fluid">
    <div class="blog-title">
        <h1>
            {{post.title}}
        </h1>
        <span class="badge bg-purple-lt">Đăng vào ngày *** by  <a href="#"> /u/{{owner.user_name}}</a></span>
    </div>
    <div class="card-body">
        {% set elements = post.cutText() %}
        {% for element in elements %}
        {% if element['type'] == "media" %}
        
            {% set id = element['id'] %}
            {% set media = post.getMedia(id) %}
            {% if media.media_type == 'youtube' %}
                {{media.title}}
                {% with %}
                {% set url = media.content %}
                {% include '_youtubeplayer.html'%}
                {% endwith %}
            {% elif media.media_type == 'quote' %}
                Quote
                <p>
                    {{media.content}}
                </p>
            {% else %}
            {% endif %}
        {% elif element['type'] == "fiction" %}
            
            {% set id = element['id'] %}
            {% set fiction = post.getFiction(id) %}
            <div class="col-3">
                <div class="card" style="margin:5px">
                    <div class="crop">

                        <img src="{% if fiction.cover %}{{url_for('img_proxy', link=fiction.cover)}}{% else %} http://localhost/upload/sample.jpg{% endif %}"
                            alt="{{fiction.name}}">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title"><a href="/fiction/{{fiction.id}}">{{fiction.name}}</a></h5>
                        <p>{{fiction.view}} lượt đọc</p>
                    </div>
                </div>
            </div>
            
        {% elif element['type'] == "text" %}
            <p>
                {{element['content']}}
            </p>
        {% elif element['type'] == "img" %}
            <img  src="{{element["src"]}}"/>
        {% else %}
        {{element['type']}}
        
        {% endif %}
        {% endfor %}
    </div>
    
</div>


{% endblock %}