{% extends "layout.html" %}
{% block layoutcenter %}
<div class="card" style="padding-left: 20px; padding-top:10px">
<h1>
    Đăng Ký
</h1>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.firstname.label }} 
        {{ form.firstname(size=32, class="form-control") }} 
        {% for error in form.firstname.errors %}
        <span style="color: red;">[{{ error}}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.lastname.label }} 
        {{ form.lastname(size=32, class="form-control") }} 
        {% for error in form.lastname.errors %}
        <span style="color: red;">[{{ error}}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.username.label }} 
        {{ form.username(size=32, class="form-control") }}
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error}}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}
        {{ form.email(size=32, class="form-control") }}
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error}}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }} 
        {{ form.password(size=32, class="form-control") }} 
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error}}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password2.label }} 
        {{ form.password2(size=32, class="form-control") }}
        {% for error in form.password2.errors %}
        <span style="color: red;">[{{ error}}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit(class="btn btn-danger") }}
    </p>
</form>
</div>

{% endblock %}