{% extends "base.html" %}
{% block title %}{{ fiction.name }} by {{ author.name }}{% endblock %}
{% block content%}

<div class="row">
    <div class="col-lg-8 ">
        <div class="row">
        <div class="col-md-4">
            <div  style="margin:5px">
                <a href="/author/{{ author.name }}" class="btn">
                    <span class="avatar">
                        <img src="{{ author.img }}" alt="" style="width:100%;height:auto">
                    </span>
                    {{ author.name }}
                </a>
                <a type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                    Tùy chọn 
                </a>
                <div class="dropdown-menu dropdown-menu-demo dropdown-menu-arrow bg-dark text-white">
                    <a href="{{url_for("edit_specific_post", fiction_id=fiction.id)}}" class="dropdown-item">Quản lý tác phẩm</a>
                    <a href="{{url_for("delete_fiction", fiction_id=fiction.id)}}" class="dropdown-item">Yêu cầu cập nhật 🥩</a>
            
                </div>
            </div>

            {% include "_fiction.html"  %}
            
        </div>
            
            <div class="col-md-8">
            
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading"> Thông tin tác phẩm {{fiction.name}} </h4>
                <p>Trạng thái: {% if fiction.status %} Full {% else %} On Going {% endif %}</p>
                <p>Xuất bản: {{ fiction.publish_year}}</p>
                <p>Chương mới nhất:</p>
                <p class="card-text">
                    Lượt đọc: <b>{{fiction.view}}</b>
                 </p>
                <p class="mb-0">Số chương <b>{{ fiction.chapter_count }}</b></p>
            </div>
            
            <div style="margin-top: 30px; background: white">
                <div class="card-header">Lời tựa của tác giả</div>
                <div class="card-body">

                    
                    <div class="card-text" id="detailInfomation">
                        {% set elements = fiction.cutText() %}
                        {% for element in elements.blocks %}
                            {% if element.type == "paragraph" %}
                            <p>{{ element.data.text | safe}}</p>
                            {% endif %}
                            
                            
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
        </div>
        </div>
        
    </div>

    <div class="col-lg-4">
        
        <div class="card">
            <div class="card-header">Danh sách chương </div>
            <div class="card-body" style="overflow: hidden;">

                {% for chapter in chapters %}
                {% include '_chapter_list.html'  %}   
                    
                {% endfor %}
            </div>
        </div>
        {% if quote %}
        <div class="card">
            <div class="card-header">
               
                    Được trích dẫn 
               
            </div>
            {% for q in quote %}

            <div class="card-body">
                <h5 class="card-title">{{ q.quote }}</h5>
                <img src="{{q.img}}" alt="" class="card-img-top">
            </div>
            {% endfor %}

        </div>
        {% else %}
        {% endif %}
        
    </div>
</div>


{% endblock %}