{% extends "base.html" %}
{% block title %}{{ fiction.name }}{% endblock %}
{% block content%}

<div class="row">
    <div class="col-lg-8 ">
        <div class="row">
            <div class="col-md-4">
                <div style="margin:5px">
                    <a href="/author/{{ fiction.author.name }}" class="btn">
                        <span class="avatar">
                            <img src="{{ fiction.author.img }}" alt="" style="width:100%;height:auto">
                        </span>
                        {{ fiction.author.name }}
                    </a>
                    {% if current_user.is_anonymous %}
                    {% else %}
                    <a type="button" class="btn" data-bs-toggle="dropdown">
                        Tùy chọn
                    </a>
                    <div class="dropdown-menu dropdown-menu-demo dropdown-menu-arrow bg-dark text-white">
                        <a href="{{url_for("edit_specific_post", fiction_id=fiction.id)}}" class="dropdown-item">Quản lý
                            tác phẩm</a>
                        <a href="{{fiction.mediafire_link}}" class="dropdown-item" target="_blank">Tải về</a>
                    </div>
                    {% endif %}
                </div>
                {% include "_fiction.html"  %}
                
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h1>
                            {{fiction.name}}
                            <span class="status status-blue">{{fiction.view}} view</span>
                        </h1>
                    </div>
                    <div class="card-body">
                        <div class="datagrid">
                            <div class="datagrid-item">
                              <div class="datagrid-title">Author</div>
                              <div class="datagrid-content">
                                <div class="d-flex align-items-center">
                                    <span class="avatar avatar-xs me-2 rounded" style="background-image: url({{fiction.author.img}})"></span>
                                    {{fiction.author.name}}
                                  </div>
                              </div>
                              <div class="datagrid-item">
                                <div class="datagrid-title">Trạng thái</div>
                                <div class="datagrid-content">{{ fiction.get_status() }}</div>
                              </div>
                              
                            </div>
                            
                            
                          </div>
                          
                        
                        <span>
                            {{ fiction.publish_year}}
                        </span>
                        <span>
                            {{ fiction.chapter | last }}
                        </span>
                        <p class="mb-0">Số chương <b>{{ fiction.chapter | count }}</b></p>
                        <a href="https://tiki.vn/how-the-body-works-hieu-het-ve-co-the-p23416722.html" type="button" class="btn btn-success">Mua Sách</a>
                    </div>
                </div>
                <div style="margin-top: 30px; background: white">
                    <div class="card-header">Lời tựa của tác giả</div>
                    <div class="card-body">
                        <div class="main-content" id="detailInfomation">
                            {% set elements = fiction.cutText() %}
                            {% include "_content.html" %}
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-4">

        <div class="card">
            <div class="card-header">Danh sách chương </div>
            <div class="card-body" style="overflow: hidden;">

                {% for chapter in fiction.chapter %}
                {% include '_chapter_list.html'  %}

                {% endfor %}
            </div>
        </div>

        <div class="card">
            <div class="card-header">

                Được trích dẫn

            </div>
            {% for quote in fiction.quote %}


            <div class="card-body">
                <h5 class="card-title">{{ quote.quote }}</h5>
                <img src="{{quote.img}}" alt="" class="card-img-top">
            </div>
            {% endfor %}

        </div>


    </div>
</div>


{% endblock %}